* {
  -fx-color-0a: #1e1e1e;
  -fx-color-1a: #454545;
  -fx-color-2a: #743455;
  -fx-color-3a: #a22365;
  -fx-color-4a: #d11174;
  -fx-color-5a: #ff0084;

  -fx-color-1b: #00141e;
  -fx-color-2b: #011a28;
  -fx-color-3b: #00283f;
  -fx-color-4b: #023956;
  -fx-color-5b: #034d78;
  -fx-color-6b: #035f94;
  -fx-color-7b: #0472ad;
  -fx-color-8b: #0483c8;
  -fx-color-9b: #0393e0;
  -fx-color-10b: #00a6ff;
  -fx-color-11b: #1fa6f4;
  -fx-color-12b: #35a4e5;
  -fx-color-13b: #4db3ee;
  -fx-color-14b: #66c5f8;
  -fx-color-15b: #80d1f9;
  -fx-color-16b: #93d4f5;
  -fx-color-17b: #aaddf7;
  -fx-color-18b: #c7edff;

  -fx-color-1c: #031c30;

  -fx-color-b: #eee;
  -fx-color-w: #fff;
}

.background-fx {
  /* -fx-background-color: -fx-color-0A; */
  -fx-background-color: linear-gradient(
    from 25% 25% to 100% 100%,
    -fx-color-4B,
    -fx-color-7B
  );
}

.gradient-title-fx {
  -fx-font-size: 32px;
  -fx-font-family: 'Inter', sans-serif;
  /* -fx-font-weight: bold; Aplica o negrito ao texto */
  -fx-color: -fx-color-w;
  -fx-letter-spacing: 10px; /* Ajuste o valor para aumentar ou diminuir o espaçamento */
}

.line-header-fx {
  /* -fx-background-color: -fx-color-w; */
  /* -fx-border-color: -fx-color-w; */
  -fx-border-color: linear-gradient(
    from 25% 25% to 100% 100%,
    -fx-color-10b,
    -fx-color-3b
  );

  -fx-border-width: 1px 0px 1px 0px; /* Largura das bordas: superior, direita, inferior, esquerda */
  -fx-border-style: solid; /* Estilo de borda sólida */
  -fx-border-insets: 0; /* Espaçamento interno da borda */
}

.line-menu-bar-fx{
    -fx-background-color: -fx-color-10b;
    -fx-background-radius: 10px;
  }

.left-conteiner-fx {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-background-radius: 10px;
}

.menu-button {
    -fx-background-color: none;
    -fx-border: none;
    -fx-font-size: 32px;
    -fx-font-family: 'Inter', sans-serif;
    -fx-text-fill: linear-gradient(to bottom,
        -fx-color-10b,
        -fx-color-14b
      );;
}